* {
  /* background: rgb(182, 87, 87); */
  /* background-color: blueviolet; */
}
body {
  margin: 0;
  align-items: center;
  /* height: 100vh; */
  font-family: "Open Sans", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1482689860904-c5747d0c8995?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.jumbotron {
  display: flex;
  justify-content: center;
  font-size: larger;
  border-radius: 15px;
  margin: 1em;
  padding: 2px;
}
/* #currentDay {
  font-size: 120%;
  font-weight: bolder;
} */

.container {
  background: #e5f4fa;
  padding: 0.7rem;
  border-radius: 14px;

  margin: 1em;
}
.container2 {
  background: #0e86d4;
  padding: 0.5rem;
  border-radius: 14px;
  margin: 0.3em;
}
.day-one,
.day-two,
.day-three,
.day-four,
.day-five {
  background: #145da0;
  color: aliceblue;
  padding: 15px;
  border-radius: 7px;
}

button {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  font-family: inherit;
  font-size: 120%;
}

.uvHigh {
  background-color: rgb(225, 14, 14);
}
.uvLow {
  background-color: green;
}
.uvM {
  background-color: yellow;
}
